<div class="modal fade" id="modalPerson" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style="width:70%" class="modal-dialog  modalSelectSession " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Person</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 31px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="form-wrap">

                            <div class="form-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Name</label>

                                            <input id="CodPerson" name="CodPerson" type="hidden" value="0">
                                            <input type="text" id="name" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Age</label>
                                            <input type="number" id="Age" class="form-control" placeholder="Age">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label mb-10">Person Type</label><br />
                                            <input id="CodPersonType" name="CodPersonType" type="hidden">
                                            <input id="NamePersonType" name="NamePersonType" type="hidden">
                                            <select name="PersonType" id="PersonType" class="form-control col-xs-12" onchange="personTypeChange(this);">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>

                        </div>
                    </div>
                </div>
                <br />
                <div class="row" id="graph">
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                        <p class="highcharts-description" id="descriptionChart">
                        </p>
                    </figure>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success  mr-10" id="registerPerson" onclick="registerPerson();">Registrar</button>
            </div>
        </div>
    </div>
</div>